body {
  min-width: 320px;
}

ul {
  padding-left: 17px;
}

.banner {
  background: black;
}

.banner img {
  width: 100%;
  max-width: 400px;
}

.banner h1 {
  color: white;
  text-align: center;
}

.banner h1::first-letter {
  background-color: #666;
  color: #FFF;
  display: inline-block;
  padding:display 0 5px;
  border-radius: 3px;
  margin-right: 2px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sub-title {
  padding: 5px 0;
  border-bottom: 1px solid black;
  margin-bottom:8px;
}

.sub-title:not(:first-child) {
  margin-top: 20px;
}

#about_me, #projects, #resume {
  margin: 20px 10px;
}

.tile-container {

  /* How pronounced should the 3D effects be */
  perspective: 800px;
  -webkit-perspective: 800px;

  background: radial-gradient(#e0e0e0, #aaa);
  /*width:480px;*/
  /*height:480px;*/
  width: 160px;
  height: 200px;
  margin: 20px auto;
  /*border-radius:6px;*/
  /*position: fixed;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width: 100%;*/
  /*height:100%;*/
}

.front, .back {

  /* Enable 3D transforms */
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;

  /* We are using two separate divs for the front and back of the
   *   phone. This will hide the divs when they are flipped, so that the
   *     opposite side can be seen:  */

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  width:100%;
  height:100%;

  /*position:absolute;*/
  /*top:40%;*/
   /*left:50%;*/
       /*margin-left: -100px;*/
  /*margin:-166px 0 0 -100px;*/

  /* Animate the transitions */
  transition:0.8s;
  text-align: center;
}
.back {
  position: absolute;
  top: 0;

  /* The back side is flipped 180 deg by default */
  transform:rotateY(180deg) scale(1) translate(0, 0);
  -webkit-transform:rotateY(180deg) scale(1) translate(0, 0);

  background-position:right center;
  background-color: #3eb0f7;
  overflow: hidden;
}

.back * {
  margin: 5px 10px;

}

.back img {
  width:80%;
  max-width: 400px;
}

.front {
  transform:scale(1) translate(0,0);
  -webkit-transform:scale(1) translate(0, 0);
  background-color: #9fd8fb;
  display: table;
}
.front * {
  display: table-cell;
  vertical-align: middle;
  padding: 0 5px;
}
.tile-container:hover {
  position: relative;
  z-index: 1;
}
.tile-container:hover .front {
  /* When the container is hovered, flip the front side and hide it .. */
  transform:rotateY(180deg) scale(2) translate(0,0);
  -webkit-transform:rotateY(180deg) scale(2) translate(0,0);
}

.tile-container:hover .back {
  overflow: scroll;
  overflow-y: scroll;
  /* .. at the same time flip the back side into visibility */
  transform:rotateY(360deg) scale(2) translate(0,0);
  -webkit-transform:rotateY(360deg) scale(2) translate(0,0);
}

.tile-container:hover .back * {
  font-size: 50%;
  /*transform: scale(0.5);*/
  /*transform-origin: 0 0;*/
  /*-webkit-transform: scale(0.5) ;*/
  /*-webkit-transform-origin: 0 0;*/
}

.examples {
  width: 300px;
  margin: 10px auto;
  text-align: center;
  border: 1px solid lightgray;
}

#resume {
  margin-bottom: 50px;
}
