body {
  min-width: 320px;
  color: #5f5f61;
}

ul {
  padding-left: 17px;
}

.banner {
  background: #e5deda;
}

.banner img {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  display: block;
}

.banner h1 {
  color: white;
  text-align: center;
  padding: 15px 0 0 0;
  text-shadow:
    -1px -1px 0 #5f5f61,  
    1px -1px 0 #5f5f61,
    -1px 1px 0 #5f5f61,
    1px 1px 0 #5f5f61;
}

.blue {
  color: #00AFD8;
}

.clear-floats {
  clear: both;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sub-title {
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom:8px;
}

.sub-title:not(:first-child) {
  margin-top: 20px;
}

.padding-south {
  padding-bottom: 16px;
}

.ghost_button {
  width: 250px;
  height: 40px;
  margin: 15px auto;
  border: 1px solid #00AFD8;
  text-align: center;
  display: table;
  border-radius: 5px;
}

.ghost_button a {
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
  color: #00AFD8;
}

.caption {
  text-align: center;
}

.font-emphasized {
  font-weight: 400;
}

#about_me, #projects, #resume {
  margin: 20px 35px;
}

.tile-container {

  /* How pronounced should the 3D effects be */
  perspective: 800px;
  -webkit-perspective: 800px;

  width: 200px;
  height: 200px;
  margin: 20px auto;
}

.tile-container img {
  width: 100%;
}

.front, .back {

  /* Enable 3D transforms */
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;

  /* We are using two separate divs for the front and back of the
   *   phone. This will hide the divs when they are flipped, so that the
   *     opposite side can be seen:  */

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  width:100%;
  height:100%;

  /* Animate the transitions */
  transition: all 0.8s;
  text-align: center;
}
.back {
  position: absolute;
  top: 0;

  /* The back side is flipped 180 deg by default */
  transform:rotateY(180deg) translate(0, 0);
  -webkit-transform:rotateY(180deg) translate(0, 0);
  -webkit-transform-origin: center center center;
  transform-origin: center center center;
  background-position:center center;
  background-color: #88c8e4;
  overflow: hidden;
}

.back * {
  margin: 5px 10px;

}

.back img {
  width:80%;
  max-width: 400px;
}

.front {
  transform: translate(0,0);
  -webkit-transform: translate(0, 0);
  display: table;
  -webkit-transform-origin: center center center;
  transform-origin: center center center;
}
.front:hover {
  cursor: pointer;
}
.front * {
  display: table-cell;
  vertical-align: middle;
}
.front > img {
  height: 100%;
}
.tile-container.is_open {
  position: relative;
  z-index: 1;
}
.tile-container.is_open .front {
  /* When the container is hovered, flip the front side and hide it .. */
  transform:rotateY(180deg) translate(60px,0);
  -webkit-transform:rotateY(180deg) translate(60px,0);
  width: 320px;
}

.tile-container.is_open.dog-container .front {
  height: 397px;
}

.tile-container.is_open.bagpipe-container .front {
  height: 535px;
}

.tile-container.is_open.travel-container .front {
  height: 658px;
}

.tile-container.is_open .back {
  /* .. at the same time flip the back side into visibility */
  transform:rotateY(360deg) translate(-60px,0);
  -webkit-transform:rotateY(360deg) translate(-60px,0);
  width: 320px;
  height: auto;
}

.tile-container.is_open.dog-container .back {
  height: 397px;
}

.tile-container.is_open.bagpipe-container .back {
  height: 480px;
}

.tile-container.is_open.travel-container .back {
  height: 658px;
}

.tile-container.is_open .back *, .tile-container.is_open .back * {

}

.tile-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background: #efdeda;
  background: rgba(239,222,218,0.6);
  opacity: 0.9;
}

.tile-overlay p {
  display: block;
  padding: 10px 0;
}

.tile-overlay img {
  width: 150px;
  margin: 0 auto;
}

.close {
  width: 20px;
}

.close img {
  margin: 0;
}

.examples {
  width: 250px;
  margin: 25px auto;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.examples h3 {
  padding: 16px;
}

.examples img {
  width: 250px;
}

.examples img:hover {
  cursor:ns-resize;
}

#resume {
  margin-bottom: 50px;
}

@media screen and (min-width:768px) {
  .banner {
    position: relative;
  }

  .banner h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    padding-left: 40px;
  }

  .banner img {
    padding-right: 247px;
  }

  .tiles {
    text-align: center;
  }

  .tile-container {
    margin: 20px 10px;
    display: inline-block;
  }

  .tile-container.is_open.dog-container .front, .tile-container.is_open.dog-container .back {
    height: 417px;
  }

  .tile-container.is_open.bagpipe-container .front, .tile-container.is_open.bagpipe-container .back {
    height: 535px;
  }

  .tile-container.is_open.travel-container .front, .tile-container.is_open.travel-container .back {
    height: 703px;
  }

  #resume_button_container {
    text-align: center;
  }

  .resume_buttons {
    display: inline-block;
    margin: 0 5px;
  }
}

@media screen and (min-width:868px) {
  .web_4moms_buttons {
    width: 33%;
    float: left;
    margin: 15px 0;
  }
}

@media screen and (min-width:1024px) {
  #about_me, #projects, #resume {
    max-width: 990px;
    margin: 20px auto;
  }
}
